/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

    Created on : 10-Feb-2015, 4:59:48 PM
    Author     : Faizan
*/
@charset "utf-8";
	
html {
    font-family: helvetica, arial, 'sans serif';
    font-size: 20px;
    color: #212721;
    background-color: whitesmoke;
}

body {
    width: 75%;
    margin: 0px auto;
    background-color: white;
    border: 30px solid white;
    
}

header td {
    vertical-align: bottom;
}

header td.spacing{
    padding-left: 200px;
}

header img {
    width: 350px;
}

nav {
    padding-bottom: 2.5%;
}

nav a {
    text-decoration: none;
    padding: 4px 11px;
    color: #212721;
    border-bottom: 1px solid #006098;
}

nav a:hover {			
    background-color:#006098;
    border-bottom: 1px solid white;
    color: white;
}

section {
    font-size: 20px;
    border-top: 3px solid #248DC2;
}

section h2 {
    font-size:23px;
}

section.intro{
    margin-top: 4.5%;
    padding-right: 5%;
    padding-bottom: 15px;
    height: 376px;
}

section.about{
    margin-top: 2.6%;
    font-size: 18px;
}

a {
    //color: #00213c;
}

footer {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 3px solid #887E71;
}

#footer {
   position:absolute;
   bottom:0;
}